.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 150px 0px;
}

body {
  padding: 0;
  margin-top:60px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  margin: 40px 0;
}

h1, h2 {
  color: inherit;
/*   font-family: 'Didact Gothic'; */
  font-family: 'Raleway';
  /* font-family: 'Montserrat'; */
  /* font-family: 'Oxygen'; */
  font-weight: 700;
  margin: 40px 0 30px;
  text-rendering: optimizelegibility;
  /* text-transform: uppercase; */
  color:  #4490CF;
}

h3 {
  display: block;
  font-family: 'Raleway';
}
h4 {
  display: block;
/*   -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; */
  font-weight: bold;
}

form {
  padding-top: 20px;
}

.btn-success {
  background: #ed174b;
  border-color: #D50034;
}
.btn-success:hover, .btn-success:focus {
  background: #D50034;
  border-color: #ed174b;
}

/* HEADER */
/* Everything gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  padding-top:10px;
  transition-duration: .4s;
}
.navbar-default {
  border: none;
}

.navbar-brand {
  margin-top: 0px;
  transition-duration: .4s;
}

.navbar-default .navbar-nav.top > li > a:focus {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-default .navbar-nav.top > li > a:hover {
  background-color: #fff;
  color: #333; 
}

.navbar-default .navbar-nav > li.ticketLink > a, .ticketLink {
  background-color: #ed174b;
  color: #fff;
}

.navbar-default .navbar-nav > li.ticketLink > a:hover, .navbar-default .navbar-nav > li.ticketLink > a:focus {
  background-color: #D50034;
  color: #fff;
}


.navbar-default .navbar-nav.top > li > a {
  background-color: transparent;
  color: #fff;
}

.logo {
  margin-top: -32px;
  width: 150px;
}

.nav > li > a {
  text-transform: uppercase;
  color: #000;
}
.top > li > a {
  background: rgba(255, 255, 255, .8);
}

.headerActionContent h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.slogan {
  line-height: 1.4;
  /* letter-spacing: 2px; */
  text-shadow: 0 0 8px rgba(0, 0, 0, .3);
  font-family: 'Raleway';
  /* color: #4490CF; */
  font-weight: normal;
  /* text-transform:  uppercase; */
}

.headerActionContent h4 {
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(0, 0, 0, .3);
  padding: 20px;
}

.header-logo {
  width: 300px;
  border-radius: 38px;
}

.actionButton a {
  text-transform: uppercase;
  padding: 20px;
}

section, .streams {
  padding-bottom: 30px;
}
/* MAIN PAGE */

/* HeaderAction Section */
section.headerAction {
  background-size: cover;
  /* background-color: rgba(255,255,255,0.3); */
  background-image: url("../images/event.jpg");
  color: #fff;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: center;
  margin-top:  -60px;
}

/* About Section */

.aboutBox {
/*   width: 100px; */
  text-align: center;
}

.aboutBox img {
  width: 100%;
}

.aboutBox hr {
  margin: 0px;
  border-top: 5px solid #eee;
}

.stream-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   min-height: 150px;
}

.stream-image .stream-name { 
  position: absolute; 
  top: 50px; 
  left: 0; 
  width: 100%; 
  text-shadow: 1px 1px #000;
  padding: 10px;
  font-size: 2em;
}


.stream-description {
  padding: 10px;
  color: #ddd;
}


.aboutBox h3 {
  color: #fff;
}

.about1 {
  background-color: #000000;
}

.about2 {
  background-color: #87a05e ;
}
.about3 {
  background-color: #284029 ;
}
.about4 {
  background-color: #8a7a6d ;
}
.about5 {
  background-color: #89674e  ;
}
.about6 {
  background-color: #9e9ea6  ;
}
.about7 {
  background-color: #016ac0   ;
}
.about8 {
  background-color: #9dad6c  ;
}

 

.streams {
  padding-left: 10px;
  padding-right: 10px;
}

/* Speakers Section */

section.speakers {
  background-color: #374457;
  padding-bottom: 30px;
  color: #fff;
}
.speakers h1 {
  color: #fff;
}
.speaker-entry {
  /* background-color: #fff; */
  /* min-height: 440px; */
}

.imageContainer {
  vertical-align: bottom;
}
.speaker-images {
  position: relative;
  display: block;
}
.speaker-image {
  display: block;
/*   position: absolute; */
  width: 100%;
  overflow: hidden;
}

.speaker-company-logo {
  position: absolute;
  bottom: -20px;
  right: -23px;
  overflow: hidden;
  width: 60px;
  /* border-radius:25px; */
  /* border: 1px solid #374457; */
}

.speaker-details {
  padding: 0px 10px;
  margin-bottom: 30px;
  min-height:  4em;
  position: relative;
}

.speaker-name {
  text-transform: uppercase;
  font-weight: bold;
/*   font-family: 'Helvetica'; */
  color: #333;
  /* min-height: 2.2em; */
  font-size:  1em;
}

.speaker-title {
  text-transform: uppercase;
  margin: 8px;
  /* padding-bottom: 10px; */
  color: #aaa;
  font-size:  .9em;
  font-weight:  normal;
  /* min-height: 3em; */
}
.speaker-company {
  text-transform: uppercase;
  margin: 0px;
  color: #4490cc;
  /* font-size: 0.9em; */
  /* min-height: 2em; */
}

.share-widget {
  padding: 0 15px 10px 0px;
  /* color: #333; */
  /* position: absolute; */
  /* bottom: 0px; */
  /* height:  50px; */
  /* width:  100%; */
  /* margin-bottom: -50px; */
}

.share-widget a {
  color: #ddd;
}
.share-widget a:hover {
  color: #4490cc;
}

/* Difference Section */

section.news {
  background-color: #4490cc;
  color: #fff;
}
.news {
  padding-bottom: 20px
}
.news h1 {
  color: #fff;
}
.story-title {
  margin: 10px;
}
.story-image {
  width: 250px;
  /* max-height: 140px; */
}

.news-category {
  list-decoration: none;
}

.story-title a {
  color: #374457;
}
.story-title a:hover, .story-title a:focus {
  color: #374457;
}

.actionButtonRow {
  /* padding-top: 20px; */
}
/* Partners Section */

section.partners {
}

.partners img {
  /* width: 100%; */
}

.platinumPartner: {
  width: 350px;
}

img.platinum {
  width: 125px;
}
img.gold {
  width: 110px;
}

/* Location Section */
section.location {
  padding-bottom: 0px;
}
.angular-google-map-container { height: 400px; }

.mapLabel {
  background-color: #fff;
  text-align: center;
  padding: 10px 40px;
}

.mapLabel h3 {
  font-size: 25px;
  font-family: "open sans";
}
.mapLabel h4 {
  font-size: 15px;
  font-weight: normal;
}

/* FAQ Page */
.qanda {
  padding-bottom: 20px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #fff;
  border-top: 1px solid #e5e5e5;
  background-color: #333;
}

.footer-menu  {
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}

.footer-menu a {
  color: #ccc;
}

.footer-social  {
  list-style-type: none;
  padding: 0px;
  font-size: 30pt;
}

.footer-social li {
  display: inline;
  padding-right: 5px;
}
.footer-social li a {
  color: #ccc
}
.footer-social li a:hover {
  text-decoration: none;
}

.footer-info {
  width: 60%;
  display: block;
  float: left;
}

.widget-title {
  font-size: 1.3em;
}

.organiserLogo {
  float: right;
  padding-bottom: 20px;
  padding-right:  10px;
}

/* ADMIN Section */
.admin {
  padding-top: 50px;
}

tr.inactive {
  background-color: #e5beb7 !important;
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  section.headerAction {
    min-height: 350px;
    padding-top: 70px;
  
    padding-bottom:  70px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  
  .actionButton a {
    /* font-size:24px; */
  }
  .widget-title {
    font-size: 1.6em;
  }

  .stream-image .stream-name { 
     top: 89px; 
     font-size: 3em;
  }

  .speaker-company-logo {
    width: 85px;
    /* border-radius: 35px; */
  }

  .speaker-name {

    font-size: 1.15em;
  

    color: #fff;

    margin-bottom: 5px;

}

  img.platinum {
    width: 160px;
  }
  img.gold {
    width: 150px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar.top {
    padding-top: 30px;
    margin-top: -10px;
    background-color: transparent;
    color: #fff;
  }
  .navbar-default .navbar-nav.top > li > a {
    background-color: transparent;
    color: #fff;
  }

  .logo.top {
    margin-top:  -50px;
    width: 250px;
    display:none;
  }


  
.header-logo {
  width: 500px;
  background-color: rgba(255,255,255,0.);
}

  section {
    min-height: 400px;
  }

  section.headerAction {
    min-height: 650px;
    padding-top: 130px;
  
    padding-bottom:  100px;
}

  h1 {
    /* font-size: 50px; */
  }
  .headerActionContent h3 {
    font-size: 36px;
  }
  .headerActionContent h4 {
    font-size: 24px;
  
    /* color:  #ccc; */
}
  .mapLabel {
    margin-left: -100px;
  }

  .mapLabel h3 {
    font-size: 35px;
  }
  .mapLabel h4 {
    font-size: 15px;
  }

    /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar.top {
    padding-top: 40px;
  }
  .navbar-brand.top {
    font-size: 18pt;
  }
  .navbar-nav {
    font-size:14px;
  }

  .aboutBox {
    min-height: 500px;
  }
  .aboutBox .fa {
    padding-top: 32px;
    font-size: 66pt;
  }

  
  .stream-image .stream-name { 
     top: 50px; 

     font-size: 2.5em;
  }


  img.platinum {
    width: 200px;
  }
  img.gold {
    width: 180px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  h1 {
    /* font-size: 60px; */
  }
  
  .navbar-nav {
    font-size:16px;
  }

  section.headerAction {
    min-height: 650px;
    padding-top: 150px;
  
    padding-bottom:  150px;
}
    
  .stream-image .stream-name { 
     top: 35px; 
     font-size: 1.5em;
  }
  .aboutBox {
    min-height: 550px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  section.headerAction {
    min-height: 650px;
    padding-top: 150px;
  
    padding-bottom:  109px;
}
  .stream-image .stream-name { 
     top: 55px; 
     font-size: 1.5em;
  }
  .aboutBox {
    min-height: 500px;
  }
   .speaker-company-logo {
    width: 100px;
    /* border-radius: 35px; */
  }
}

.ui-view-container {
  position: relative;
  height: 65px;
}

/* [ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
} */

[ui-view].ng-enter,
[ui-view].ng-leave
{
  position: absolute;
  left: 0;
  right: 0;
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

[ui-view].ng-enter {
    left: 100%;
}
[ui-view].ng-enter.ng-enter-active {
    left: 0;
}

[ui-view].ng-leave {
    opacity: 0;
}
[ui-view].ng-leave.ng-leave-active{
    opacity: 0;
}
