<div class="speaker-entry text-center" ng-if="speaker.photo">
  <div class="speaker-stream">
    {{speaker.stream}}
  </div>
  <div class="speaker-image">
    <img ng-src="{{speaker.photo.url}}" alt="{{speaker.first}} {{speaker.last}}" height="150" width="150">
  </div>
  <hr>
   <h3 class="speaker-name">
    {{speaker.first}} {{speaker.last}}
  </h3>
  <h4 class="speaker-company">{{speaker.company}}</h4>
  <h5 class="speaker-title">{{speaker.jobTitle}}</h5>
   <div class="share-widget">
    <a ng-if="speaker.twitter" href="{{speaker.twitter}}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
    <a ng-if="speaker.linkedIn" href="{{speaker.linkedIn}}" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
  </div>
</div>
