<section id="agenda" name="agenda">
  <div class="container text-center">
    <h1>Agenda</h1>
    <div class="row timeRow" ng-repeat="time in agenda.times"  ng-class-odd="'agendaOdd'" ng-class-even="'agendaEven'">
      <div class="col-xs-3 cols-sm-2">
        {{time | date: 'h:mm a': agenda.eventTimeZone}}
      </div>
      <div class="sessions col-xs-8" ng-class="{'col-sm-2': agenda.sessions[$parent.$index].length > 1}" ng-repeat="session in agenda.sessions[$index]">
        <!-- 
        NEED TO PUT IN A HEADER FOR THE STREAM - only on first instance
        <div class="" ng-if> -->
        <div  ng-class="session.stream">
          <h3 class="session-name">{{session.name}}</h3>
          <h4 class="session-speaker">{{session.speakers | filterArray:'name'}}</h4>
          <h5 class="session-speaker-company">{{session.speakers | filterArray:'company':true}}</h5>
        </div>
      </div>
    </div>
    <action-button>2 for 1 Ending Soon!</action-button>
  </div>
</section>

<footer-block></footer-block>