<header-action></header-action>

<section id="about">
  <div class="container">
    <div class="row text-center">
      <h1>Two Days of Inspiration!</h1>
      <h3><time datetime="2015-10-06">6th</time>-<time datetime="2015-10-07">7th</time> October 2015, Dublin</h3>
      <h4>
        <p>This is the greatest and best event ever....</p>
        <p>Tribute</p>
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="aboutBox aboutThought">
          <i class="fa fa-lightbulb-o fa-5x"></i>
        </div>
        <h3>Thought Leaders</h3>
        <p>The big names, the big ideas, the successes and the failures.</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="aboutBox aboutCase">
          <i class="fa fa-globe fa-5x"></i>
         </div>
        <h3>Case Studies</h3>
        <p>Learn from the center of excellence: Ireland.</p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="aboutBox aboutNetworking">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <h3>Networking</h3>
        <p>People don't do business with companies, people do business with people.</p>
      </div>
    </div>
    <p class="text-center"><a class="btn btn-lg btn-success" ng-href="https://tickets.exportsummit.com">Don't Miss Out!</a></p>
  </div>
</section>

<section class="speakers">
  <div class="container text-center">
    <h1> Hear from these leaders in exports! </h1>
    <div ng-repeat="speaker in main.speakers">
      <speaker-box speaker=speaker></speaker-box>
    </div>
  </div>
</section>

<section class="difference">
  <div class="container text-center">
    <h1>Our Difference</h1>
    <h4>
      <p>This is not like your other events....</p>
      <p>We focus on networking, learning, sourcing the best in the industry...</p>
    </h4>
    <p class="text-center"><a class="btn btn-lg btn-success" ng-href="https://tickets.exportsummit.com">Early Bird Ending Shortly</a></p>
  </div>
</section>

<section class="sponsors">
  <div class="container text-center">
    <div class="row" ng-if="main.sponsors.platinum.length > 0">
      <h1>Platinum Sponsors</h1>
      <sponsor-box sponsors="main.sponsors.platinum" level="platinum"></sponsor-box>
    </div>

    
    
    <div class="row" ng-if="main.sponsors.gold.length > 0">
      <h2>Gold Sponsors</h2>
      <sponsor-box sponsors="main.sponsors.gold" level="gold"></sponsor-box>
    </div>
  </div>
</section>

<section class="location">
  <ui-gmap-google-map center='main.map.center' zoom='main.map.zoom' options="main.map.options">

    <ui-gmap-marker idkey='main.marker.id' coords='main.marker.coords' click=onMarkerClick()>
      <ui-gmap-window options="main.window.options" closeClick="closeWindowClick()">
        <div>Croke Park</div>
      </ui-gmap-window>
    </ui-gmap-marker>
    
  </ui-gmap-google-map>
</section>
