<h1>Media <button class="btn btn-success" ng-click="adminMedia.addMedia()"><i class="glyphicon glyphicon-plus"></i></button></h1>

<form ng-submit="adminMedia.createOrUpdate()" class="form-horizontal" name="adminMedia.mediaForm" ng-if="adminMedia.showMediaForm">
  <div class="alert alert-danger" role="alert" ng-if="adminMedia.formError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem with the form. Please try again.
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.first.$invalid && adminMedia.mediaForm.first.$dirty}">
    <label for="first" class="col-sm-2 control-label">First*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="first" ng-model="adminMedia.media.first" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.first.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a first name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.last.$invalid && adminMedia.mediaForm.last.$dirty}">
    <label for="last" class="col-sm-2 control-label">Last*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="last" ng-model="adminMedia.media.last" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.last.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a last name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.email.$invalid && adminMedia.mediaForm.email.$dirty}">
    <label for="email" class="col-sm-2 control-label">Email*</label>
    <div class="col-sm-10">
      <input type="email" class="form-control input-lg" id="email" ng-model="adminMedia.media.email" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.email.$error" style="color:maroon" role="alert">
    <div ng-message="email" class="help-block">You must enter a valid email</div>
    <div ng-message="required" class="help-block">You must enter a email</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.jobTitle.$invalid && adminMedia.mediaForm.jobTitle.$dirty}">
    <label for="jobTitle" class="col-sm-2 control-label">Job Title*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="jobTitle" ng-model="adminMedia.media.jobTitle" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.jobTitle.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a job title</div>
  </div>


  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.company.$invalid && adminMedia.mediaForm.company.$dirty}">
    <label for="company" class="col-sm-2 control-label">Company*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="company" ng-model="adminMedia.media.company" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.company.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a company name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.country.$invalid && adminMedia.mediaForm.country.$dirty}">
    <label for="country" class="col-sm-2 control-label">Country*</label>
    <div class="col-sm-10">
      <select class="form-control input-lg" ng-model="adminMedia.media.country" ng-options="country.code as country.country for country in adminMedia.countries" required="">
        <option value="">-- Select a Country --</option>
      </select>
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.country.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter your country</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.twitter.$invalid && adminMedia.mediaForm.twitter.$dirty}">
    <label for="twitter" class="col-sm-2 control-label">Twitter Url</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="twitter" ng-model="adminMedia.media.twitter">
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminMedia.mediaForm.phone.$invalid && adminMedia.mediaForm.phone.$dirty}">
    <label for="phone" class="col-sm-2 control-label">Phone*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="phone" ng-model="adminMedia.media.phone" required="">
    </div>
  </div>
  <div ng-messages="adminMedia.mediaForm.country.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter your country</div>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="adminMedia.mediaForm.$invalid || adminMedia.processing">Create / Update</button>

</form>

<table class="table table-striped" class="row-border hover">
    <thead>
<!--     <tr>
      <th colspan="5"><input st-search class="form-control" placeholder="global search ..." type="text"/></th>
    </tr> -->
    <tr>
        <th ng-click="adminMedia.orderByField='first'; adminMedia.reverseSort = !adminMedia.reverseSort">First <span ng-show="adminMedia.orderByField == 'first'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='last'; adminMedia.reverseSort = !adminMedia.reverseSort">Last <span ng-show="adminMedia.orderByField == 'last'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='email'; adminMedia.reverseSort = !adminMedia.reverseSort">Email <span ng-show="adminMedia.orderByField == 'email'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='jobTitle'; adminMedia.reverseSort = !adminMedia.reverseSort">Job Title <span ng-show="adminMedia.orderByField == 'jobTitle'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='company'; adminMedia.reverseSort = !adminMedia.reverseSort">Company <span ng-show="adminMedia.orderByField == 'company'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='country'; adminMedia.reverseSort = !adminMedia.reverseSort">Country <span ng-show="adminMedia.orderByField == 'country'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='twitter'; adminMedia.reverseSort = !adminMedia.reverseSort">Twitter <span ng-show="adminMedia.orderByField == 'twitter'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th ng-click="adminMedia.orderByField='phone'; adminMedia.reverseSort = !adminMedia.reverseSort">Phone <span ng-show="adminMedia.orderByField == 'phone'"><span ng-show="!adminMedia.reverseSort">^</span><span ng-show="adminMedia.reverseSort">v</span></span></th>
        <th>Edit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="media in adminMedia.mediaList|orderBy:adminMedia.orderByField:adminMedia.reverseSort" ng-class="{'inactive': !media.active}">
        <td>{{media.first}}</td>
        <td>{{media.last}}</td>
        <td>{{media.email}}</td>
        <td>{{media.jobTitle}}</td>
        <td>{{media.company}}</td>
        <td>{{media.country}}</td>
        <td>{{media.twitter}}</td>
        <td>{{media.phone}}</td>
        <td><button class="btn btn-primary" ng-click="adminMedia.addMedia(media)"><i class="glyphicon glyphicon-pencil"></button></td>
        <td><button class="btn" ng-class="{'btn-danger': media.active, 'btn-default': !media.active}" ng-click="adminMedia.toggleMedia(media)"><i class="glyphicon" ng-class="{'glyphicon-remove': media.active, 'glyphicon-ok': !media.active}"></button></td>
    </tr>
    </tbody>
</table>
