<h1>Partners <button class="btn btn-success" ng-click="adminPartners.addPartner()"><i class="glyphicon glyphicon-plus"></i></button></h1>

<form ng-submit="adminPartners.createOrUpdate()" class="form-horizontal" name="adminPartners.partnerForm" ng-if="adminPartners.showPartnerForm">
  <div class="alert alert-danger" role="alert" ng-if="adminPartners.formError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem with the form. Please try again.
  </div>

  <div class="form-group" ng-class="{'has-error': adminPartners.partnerForm.name.$invalid && adminPartners.partnerForm.name.$dirty}">
    <label for="name" class="col-sm-2 control-label">Name*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="name" ng-model="adminPartners.partner.name" required="">
    </div>
  </div>
  <div ng-messages="adminPartners.partnerForm.name.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminPartners.partnerForm.level.$invalid && adminPartners.partnerForm.level.$dirty}">
    <label for="level" class="col-sm-2 control-label">Level*</label>
    <div class="col-sm-10">
      <select class="form-control input-lg" ng-model="adminPartners.partner.level" ng-options="level.code as level.name for level in adminPartners.levels" required="">
        <option value="">-- Select a Level --</option>
      </select>
    </div>
  </div>
  <div ng-messages="adminPartners.partnerForm.level.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a level</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminPartners.partnerForm.url.$invalid && adminPartners.partnerForm.url.$dirty}">
    <label for="url" class="col-sm-2 control-label">Url*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="url" ng-model="adminPartners.partner.url" required="" placeholder="http:///www.site.com">
    </div>
  </div>
  <div ng-messages="adminPartners.partnerForm.url.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a URL beginning with http://</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminPartners.partnerForm.stream.$invalid && adminPartners.partnerForm.stream.$dirty}">
    <label for="stream" class="col-sm-2 control-label">Stream</label>
    <div class="col-sm-10">
      <select class="form-control input-lg" ng-model="adminPartners.streamOption.objectId" ng-options="stream.objectId as stream.name for stream in adminPartners.streams | filter:{active:true}">
        <option value="">-- Select a Stream --</option>
      </select>
    </div>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="adminPartners.partnerForm.$invalid || adminPartners.processing">Create / Update</button>

</form>

<table class="table table-striped" class="row-border hover">
    <thead>
<!--     <tr>
      <th colspan="5"><input st-search class="form-control" placeholder="global search ..." type="text"/></th>
    </tr> -->
    <tr>
        <th>Pic</th>
        <th ng-click="adminPartners.orderByField='name'; adminPartners.reverseSort = !adminPartners.reverseSort">Name <span ng-show="adminPartners.orderByField == 'name'"><span ng-show="!adminPartners.reverseSort">^</span><span ng-show="adminPartners.reverseSort">v</span></span></th>
        <th ng-click="adminPartners.orderByField='level'; adminPartners.reverseSort = !adminPartners.reverseSort">Level <span ng-show="adminPartners.orderByField == 'level'"><span ng-show="!adminPartners.reverseSort">^</span><span ng-show="adminPartners.reverseSort">v</span></span></th>
        <th ng-click="adminPartners.orderByField='url'; adminPartners.reverseSort = !adminPartners.reverseSort">Url <span ng-show="adminPartners.orderByField == 'url'"><span ng-show="!adminPartners.reverseSort">^</span><span ng-show="adminPartners.reverseSort">v</span></span></th>
        <th ng-click="adminPartners.orderByField='stream'; adminPartners.reverseSort = !adminPartners.reverseSort">Stream <span ng-show="adminPartners.orderByField == 'stream'"><span ng-show="!adminPartners.reverseSort">^</span><span ng-show="adminPartners.reverseSort">v</span></span></th>
        <th>Edit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="partner in adminPartners.partners|orderBy:adminPartners.orderByField:adminPartners.reverseSort" ng-class="{'inactive': !partner.active}">
        <td>
          <!-- If the profile pic doesn't exist -->
          <button ng-if="!partner.photo" class="btn btn-success" ng-click="adminPartners.uploadImage(partner)"> + </button>
          <!-- If the profile pic exists -->
          <div ng-if="partner.photo" class="adminPartnerProfile" ng-click="adminPartners.removeImage(partner)">
            <img ng-src="{{partner.photo.url}}" width="50" height="50">
          <div>
        </td>
        <td>{{partner.name}}</td>
        <td>{{partner.level | partnerLevel}}</td>
        <td>{{partner.url}}</td>
        <td><span ng-if="partner.stream" ng-click="adminPartners.removeStream(partner)">{{partner.stream.name}}</span></td>
        <td><button class="btn btn-primary" ng-click="adminPartners.addPartner(partner)"><i class="glyphicon glyphicon-pencil"></button></td>
        <td><button class="btn" ng-class="{'btn-danger': partner.active, 'btn-default': !partner.active}" ng-click="adminPartners.togglePartner(partner)"><i class="glyphicon" ng-class="{'glyphicon-remove': partner.active, 'glyphicon-ok': !partner.active}"></button></td>
    </tr>
    </tbody>
</table>
