<h1>Speakers <button class="btn btn-success" ng-click="adminSpeakers.addSpeaker()"><i class="glyphicon glyphicon-plus"></i></button></h1>

<form ng-submit="adminSpeakers.createOrUpdate()" name="speakerForm" ng-if="adminSpeakers.showSpeakerForm">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.first" placeholder="First Name" required="true" autofocus="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.last" placeholder="Last Name" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.jobTitle" placeholder="Job Title" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.company" placeholder="Company" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.country" placeholder="Country" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.profilePic" placeholder="Url of Profile Pic" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.twitter" placeholder="Twitter Url" required="true">
    <input type="text" class="form-control" ng-model="adminSpeakers.speaker.linkedIn" placeholder="LinkedIn Url" required="true">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create / Update</button>
    <div ng-messages="speakerForm.errors">
        <div ng-message="login" style="color:maroon" role="alert">{{speakerForm.errors.required}}</div>
    </div>
</form>

<table st-table="rowCollection" class="table table-striped" class="row-border hover">
    <thead>
    <tr>
      <th colspan="5"><input st-search class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    <tr>
        <th>Pic</th>
        <th st-sort="first">First</th>
        <th st-sort="last">Last</th>
        <th>Job Title</th>
        <th st-sort="company">Company</th>
        <th st-sort="country">Country</th>
        <th>LinkedIn</th>
        <th>Twitter</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="speaker in ::adminSpeakers.speakers">
        <td><img ng-src="{{speaker.profilePic}}" width="50" height="50"></td>
        <td>{{speaker.first}}</td>
        <td>{{speaker.last}}</td>
        <td>{{speaker.jobTitle}}</td>
        <td>{{speaker.company}}</td>
        <td>{{speaker.country}}</td>
        <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.linkedIn, 'glyphicon-remove': !speaker.linkedIn}"</td>
        <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.twitter, 'glyphicon-remove': !speaker.twitter}"</td>
        <td><button class="btn btn-primary" ng-click="adminSpeakers.updateSpeaker({{speaker}})"><i class="glyphicon glyphicon-pencil"></button></td>
    </tr>
    </tbody>
</table>
