<h1>Speakers <button class="btn btn-success" ng-click="adminSpeakers.addSpeaker()"><i class="glyphicon glyphicon-plus"></i></button></h1>

<form ng-submit="adminSpeakers.createOrUpdate()" class="form-horizontal" name="adminSpeakers.speakerForm" ng-if="adminSpeakers.showSpeakerForm">
  <div class="alert alert-danger" role="alert" ng-if="adminSpeakers.formError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem with the form. Please try again.
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.first.$invalid && adminSpeakers.speakerForm.first.$dirty}">
    <label for="first" class="col-sm-2 control-label">First*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="first" ng-model="adminSpeakers.speaker.first" required="">
    </div>
  </div>
  <div ng-messages="adminSpeakers.speakerForm.first.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a first name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.last.$invalid && adminSpeakers.speakerForm.last.$dirty}">
    <label for="last" class="col-sm-2 control-label">Last*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="last" ng-model="adminSpeakers.speaker.last" required="">
    </div>
  </div>
  <div ng-messages="adminSpeakers.speakerForm.last.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a last name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.jobTitle.$invalid && adminSpeakers.speakerForm.jobTitle.$dirty}">
    <label for="jobTitle" class="col-sm-2 control-label">Job Title*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="jobTitle" ng-model="adminSpeakers.speaker.jobTitle" required="">
    </div>
  </div>
  <div ng-messages="adminSpeakers.speakerForm.jobTitle.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a job title</div>
  </div>


  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.company.$invalid && adminSpeakers.speakerForm.company.$dirty}">
    <label for="company" class="col-sm-2 control-label">Company*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="company" ng-model="adminSpeakers.speaker.company" required="">
    </div>
  </div>
  <div ng-messages="adminSpeakers.speakerForm.company.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a company name</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.country.$invalid && adminSpeakers.speakerForm.country.$dirty}">
    <label for="country" class="col-sm-2 control-label">Country*</label>
    <div class="col-sm-10">
      <select class="form-control input-lg" ng-model="adminSpeakers.speaker.country" ng-options="country.code as country.country for country in adminSpeakers.countries" required="">
        <option value="">-- Select a Country --</option>
      </select>
    </div>
  </div>
  <div ng-messages="adminSpeakers.speakerForm.country.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter your country</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.twitter.$invalid && adminSpeakers.speakerForm.twitter.$dirty}">
    <label for="twitter" class="col-sm-2 control-label">Twitter Url</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="twitter" ng-model="adminSpeakers.speaker.twitter">
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.linkedIn.$invalid && adminSpeakers.speakerForm.linkedIn.$dirty}">
    <label for="linkedIn" class="col-sm-2 control-label">LinkedIn Url</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="linkedIn" ng-model="adminSpeakers.speaker.linkedIn">
    </div>
  </div>

  <!-- Upload Profile Pic -->
<!--   <div class="form-group" ng-class="{'has-error': adminSpeakers.speakerForm.linkedIn.$invalid && adminSpeakers.speakerForm.linkedIn.$dirty}">
    <label for="linkedIn" class="col-sm-2 control-label">Profile Pic</label>
    <div class="col-sm-10">
      <button class="btn btn-default" type="button" ng-click="adminSpeakers.uploadImage()">Select Image</button>
      <p class="help-block">Image dimensions should be square and larger than 250px.</p>
    </div>
    <img ngf-src="adminSpeakers.speakerForm.profilePic">
  </div> -->


  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="adminSpeakers.speakerForm.$invalid || adminSpeakers.processing">Create / Update</button>

</form>

<table class="table table-striped" class="row-border hover">
    <thead>
<!--     <tr>
      <th colspan="5"><input st-search class="form-control" placeholder="global search ..." type="text"/></th>
    </tr> -->
    <tr>
        <th>Pic</th>
        <th ng-click="adminSpeakers.orderByField='first'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">First <span ng-show="adminSpeakers.orderByField == 'first'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='last'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">Last <span ng-show="adminSpeakers.orderByField == 'last'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='jobTitle'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">Job Title <span ng-show="adminSpeakers.orderByField == 'jobTitle'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='company'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">Company <span ng-show="adminSpeakers.orderByField == 'company'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='country'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">Country <span ng-show="adminSpeakers.orderByField == 'country'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='twitter'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">Twitter <span ng-show="adminSpeakers.orderByField == 'twitter'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th ng-click="adminSpeakers.orderByField='linkedIn'; adminSpeakers.reverseSort = !adminSpeakers.reverseSort">LinkedIn <span ng-show="adminSpeakers.orderByField == 'linkedIn'"><span ng-show="!adminSpeakers.reverseSort">^</span><span ng-show="adminSpeakers.reverseSort">v</span></span></th>
        <th>Edit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="speaker in adminSpeakers.speakers|orderBy:adminSpeakers.orderByField:adminSpeakers.reverseSort" ng-class="{'inactive': !speaker.active}">
        <td>
          <!-- If the profile pic doesn't exist -->
          <button ng-if="!speaker.photo" class="btn btn-success" ng-click="adminSpeakers.uploadImage(speaker)"> + </button>
          <!-- If the profile pic exists -->
          <div ng-if="speaker.photo" class="adminSpeakerProfile" ng-click="adminSpeakers.removeImage(speaker)">
            <img ng-src="{{speaker.photo.url}}" width="50" height="50">
          <div>
        </td>
        <td>{{speaker.first}}</td>
        <td>{{speaker.last}}</td>
        <td>{{speaker.jobTitle}}</td>
        <td>{{speaker.company}}</td>
        <td>{{speaker.country}}</td>
        <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.linkedIn, 'glyphicon-remove': !speaker.linkedIn}"></i></td>
        <td><i class="glyphicon" ng-class="{'glyphicon-ok': speaker.twitter, 'glyphicon-remove': !speaker.twitter}"></i></td>
        <td><button class="btn btn-primary" ng-click="adminSpeakers.addSpeaker(speaker)"><i class="glyphicon glyphicon-pencil"></button></td>
        <td><button class="btn" ng-class="{'btn-danger': speaker.active, 'btn-default': !speaker.active}" ng-click="adminSpeakers.toggleSpeaker(speaker)"><i class="glyphicon" ng-class="{'glyphicon-remove': speaker.active, 'glyphicon-ok': !speaker.active}"></button></td>
    </tr>
    </tbody>
</table>
