<h1>Streams <button class="btn btn-success" ng-click="adminStreams.addStream()"><i class="glyphicon glyphicon-plus"></i></button></h1>

<form ng-submit="adminStreams.createOrUpdate()" class="form-horizontal" name="adminStreams.streamForm" ng-if="adminStreams.showStreamForm">
  <div class="alert alert-danger" role="alert" ng-if="adminStreams.formError">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem with the form. Please try again.
  </div>

  <div class="form-group" ng-class="{'has-error': adminStreams.streamForm.name.$invalid && adminStreams.streamForm.name.$dirty}">
    <label for="name" class="col-sm-2 control-label">Name*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="name" ng-model="adminStreams.stream.name" required="">
    </div>
  </div>
  <div ng-messages="adminStreams.streamForm.name.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a name </div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminStreams.streamForm.description.$invalid && adminStreams.streamForm.description.$dirty}">
    <label for="description" class="col-sm-2 control-label">Description*</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="5" id="description" ng-model="adminStreams.stream.description" required=""></textarea>
    </div>
  </div>
  <div ng-messages="adminStreams.streamForm.description.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a description </div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminStreams.streamForm.date.$invalid && adminStreams.streamForm.date.$dirty}">
    <label for="date" class="col-sm-2 control-label">Date*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="date" ng-model="adminStreams.stream.date" required="" placeholder="dd/mm/yyyy">
    </div>
  </div>
  <div ng-messages="adminStreams.streamForm.date.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter a date</div>
  </div>


  <div class="form-group" ng-class="{'has-error': adminStreams.streamForm.icon.$invalid && adminStreams.streamForm.icon.$dirty}">
    <label for="icon" class="col-sm-2 control-label">Icon*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="icon" ng-model="adminStreams.stream.icon" required="">
    </div>
  </div>
  <div ng-messages="adminStreams.streamForm.icon.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter an icon - check font awesome website</div>
  </div>

  <div class="form-group" ng-class="{'has-error': adminStreams.streamForm.order.$invalid && adminStreams.streamForm.order.$dirty}">
    <label for="order" class="col-sm-2 control-label">Order*</label>
    <div class="col-sm-10">
      <input type="string" class="form-control input-lg" id="order" ng-model="adminStreams.stream.order" required="">
    </div>
  </div>
  <div ng-messages="adminStreams.streamForm.order.$error" style="color:maroon" role="alert">
    <div ng-message="required" class="help-block">You must enter an order (might need to edit other orders)</div>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="adminStreams.streamForm.$invalid || adminStreams.processing">Create / Update</button>

</form>

<table class="table table-striped" class="row-border hover">
    <thead>
    <tr>
        <th width="20%" ng-click="adminStreams.orderByField='name'; adminStreams.reverseSort = !adminStreams.reverseSort">Name <span ng-show="adminStreams.orderByField == 'name'"><span ng-show="!adminStreams.reverseSort">^</span><span ng-show="adminStreams.reverseSort">v</span></span></th>
        <th width="45%" ng-click="adminStreams.orderByField='description'; adminStreams.reverseSort = !adminStreams.reverseSort">Description <span ng-show="adminStreams.orderByField == 'description'"><span ng-show="!adminStreams.reverseSort">^</span><span ng-show="adminStreams.reverseSort">v</span></span></th>
        <th width="15%" ng-click="adminStreams.orderByField='date'; adminStreams.reverseSort = !adminStreams.reverseSort">Date <span ng-show="adminStreams.orderByField == 'date'"><span ng-show="!adminStreams.reverseSort">^</span><span ng-show="adminStreams.reverseSort">v</span></span></th>
        <th width="15%" ng-click="adminStreams.orderByField='icon'; adminStreams.reverseSort = !adminStreams.reverseSort">Icon <span ng-show="adminStreams.orderByField == 'icon'"><span ng-show="!adminStreams.reverseSort">^</span><span ng-show="adminStreams.reverseSort">v</span></span></th>
        <th width="5%" ng-click="adminStreams.orderByField='order'; adminStreams.reverseSort = !adminStreams.reverseSort">Order <span ng-show="adminStreams.orderByField == 'order'"><span ng-show="!adminStreams.reverseSort">^</span><span ng-show="adminStreams.reverseSort">v</span></span></th>
        <th>Edit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="stream in adminStreams.streams | orderBy:adminStreams.orderByField:adminStreams.reverseSort" ng-class="{'inactive': !stream.active}">
        <td>{{stream.name}}</td>
        <td>{{stream.description}}</td>
        <td>{{stream.date.iso | date}}</td>
        <td><i class="fa fa-3x" ng-class="stream.icon"></i></td>
        <td>{{stream.order}}</td>
        <td><button class="btn btn-primary" ng-click="adminStreams.addStream(stream)"><i class="glyphicon glyphicon-pencil"></button></td>
        <td><button class="btn" ng-class="{'btn-danger': stream.active, 'btn-default': !stream.active}" ng-click="adminStreams.toggleStream(stream)"><i class="glyphicon" ng-class="{'glyphicon-remove': stream.active, 'glyphicon-ok': !stream.active}"></button></td>
    </tr>
    </tbody>
</table>
